<%- include('partials/head.ejs') %>


<body>
        <%- include('partials/header.ejs')  %>
    <div class="hero">

        </div>
    <main>  
        
        <article>
                <% let bikes_cafeRacer=bikes.filter(bike=>bike.modelOfBike==="cafe_racer")%>
            <h2>Cafe Racer</h2>
            <%if(bikes_cafeRacer.length>0){%>
                <%bikes_cafeRacer.forEach(bike=>{%>                   
                    <div class="container-moto">
                            <img class="imgMoto" src=<%=bike.urlBike%> alt="moto1"/>
                            <div class="container-text">
                                <div class="container-tittle-heart">
                                    <h3><%=bike.title%></h3>                                                                   
                                </div>
                                <p><%=bike.description%> </p>
                                <%if(error){%>
                                    <h3><%=error%></h3>
                                <%}%>
                                <div class="comments-logo">                                    
                                    <%if(userId && userId.toString()===bike.userId.toString()){%>
                                   <a href="/deleteBike/<%=bike.id%>"><button class="boton_delete">Delete</button> </a> 
                                   <a href="/editBike/<%=bike.id%>"><button class="boton_edit">Edit</button> </a> 
                                   <%}%>
                                </div>                   
                            </div>
                        </div>
                <%})%>
            <%}%>
          
        </article>
        <article>
            <% let bikes_choppers=bikes.filter(bike=>bike.modelOfBike==="choppers")%>
            <h2>Choppers</h2>
                <%if(bikes_choppers.length>0){%>
                    <%bikes_choppers.forEach(bike=>{%>                       
                        <div class="container-moto">
                                <img class="imgMoto" src=<%=bike.urlBike%> alt="moto1"/>
                                <div class="container-text">
                                    <div class="container-tittle-heart">
                                        <h3><%=bike.title%></h3>                                                                                                                   
                                    </div>
                                    <p><%=bike.description%> </p>
                                    <%if(error){%>
                                        <h3><%=error%></h3>
                                    <%}%>
                                    <div class="comments-logo">       
                                        <%if(userId && userId.toString()===bike.userId.toString()){%>
                                       <a href="/deleteBike/<%=bike.id%>"><button class="boton_delete">Delete</button> </a> 
                                       <a href="/editBike/<%=bike.id%>"><button class="boton_edit">Edit</button> </a> 
                                       <%}%>
                                    </div>                   
                                </div>
                            </div>
                    <%})%>
                <%}%>
        </article>
            
        
        <article>
                <h2>Classics</h2>
                <% let bikes_classics=bikes.filter(bike=>bike.modelOfBike==="classics")%>
            <% if(bikes_classics.length >0){ %>
                <%bikes_classics.forEach(bike=>{%>                   
                    <div class="container-moto">
                        <img class="imgMoto" src=<%=bike.urlBike%> alt="moto1"/>
                        <div class="container-text">
                            <div class="container-tittle-heart">
                                <h3><%=bike.title%></h3>                                                                                             
                            </div>
                            <p><%=bike.description%> </p>
                            <%if(error){%>
                                <h3><%=error%></h3>
                            <%}%>
                            <div class="comments-logo">
                                <%if(userId && userId.toString()===bike.userId.toString()){%>
                               <a href="/deleteBike/<%=bike.id%>"><button class="boton_delete">Delete</button> </a> 
                               <a href="/editBike/<%=bike.id%>"><button class="boton_edit">Edit</button> </a> 
                               <%}%>
                            </div>                   
                        </div>
                    </div>
                <%})%>           
            <% } %>
        </article>
      

    </main>
    <%- include('partials/footer.ejs') %>
   