<!-- EJS SIGNIFICA EMMBEBED JAVA SCRIPT -->
<%- include('partials/head.ejs') %> 


<body>
    <%- include('partials/header.ejs') %>
    <div class="hero-submit">

        </div>
    <main>
        <h2>Submit a Bike</h2>
        <article>
            <div class="container-text-submit">
                <p>Whether you’re a famous builder or an anonymous garage maestro, <span> if you have a bike that you think is worthy of a Pipeburn story then we want to see it. </span>  Maybe you’re just after some peer feedback, or you might even be looking for a bit of publicity to see if you can make a living out of it. Whatever the case, a bike featured on Pipeburn will be exposed to 300,000 unique site visitors a month and posted to 400,000 Facebook followers. And then there’s 220k + Instagram followers, Pinterest, Twitter and our RSS feed, too.</p>
                <p><span> Remember – the better the photos of your bike, the better your chances of getting featured.</span>R You could have the skills to be the next Max Hazan, but if your photos aren’t up to scratch chances are we will ask you to reshoot. We always recommend that builders hire a pro photographer and we are happy to give photographic advice. If you’re unsure how to get the pictures to us, read this and then share a link to the files in the form field below.</p>
                <p><span>RAnd please note that we usually won’t post bikes that have already been shown on other sites.</span>R We pride ourselves on featuring only the latest and greatest bike builds, so if we’ve already seen your handwork somewhere else we will most likely say a polite ‘no thanks’.</p>
            </div>
            <hr>
            <form action="/submitBike/<%=userId%>" method="POST">
                    <div class="container-data-2">
                            <div class="container-title-input">
                                <p>Type / Model of Bike</p>
                                
                                <select id="selectModels" name="modelOfBike" onclick="showSelected('<%=edit.modelOfBike%>')"> 
                                    <%if(edit&&edit.modelOfBike==="cafe_racer"){%>                            
                                        <option id="cafe_racer" value="cafe_racer">Cafe Racer</option>
                                        <option id="choppers" value="choppers">Choppers</option>
                                        <option id="classics" value="classics">Classics</option>
                                    <%}else if(edit&&edit.modelOfBike==="choppers"){%>
                                        <option id="choppers" value="choppers">Choppers</option>
                                        <option id="cafe_racer" value="cafe_racer">Cafe Racer</option>
                                        <option id="classics" value="classics">Classics</option>
                                    <%}else if(edit&&edit.modelOfBike==="classics"){%>
                                        <option id="classics" value="classics">Classics</option>
                                        <option id="choppers" value="choppers">Choppers</option>
                                        <option id="cafe_racer" value="cafe_racer">Cafe Racer</option>
                                    <%}else{%>
                                        <option id="cafe_racer" value="cafe_racer">Cafe Racer</option>
                                        <option id="choppers" value="choppers">Choppers</option>
                                        <option id="classics" value="classics">Classics</option>
                                    <%}%>
                                </select>
                               <!--  <label for="modelOfBike">Type / Model of Bike </label>
                                <input  type="text" id="modelOfBike" name="modelOfBike" required value="<%= edit ? edit.modelOfBike : null%>"/> -->
                            </div>
                            <div class="container-title-input">
                                    <label for="urlBike">Image</label>
                                    <input type="text" id="urlBike" name="urlBike" placeholder="Url" required value="<%= edit ? edit.urlBike : null%>" />                      
                            </div>                                                   
                    </div>
                    <div class="container-data-3">
                            <div class="container-title-input">
                                    <label for="title">Title</label>
                                    <input type="text" id="title" name="title" placeholder="Title" value="<%= edit ? edit.title : null%>"  required/>                      
                            </div> 
                        <div class="container-title-input">
                            <p>Bike Description </p>
                            <textarea id="text-area" name="description" rows="10" cols="50" placeholder="Write a description" required > <%= edit ? edit.description : null%> </textarea>
                        </div>
                    </div>
                    <input type="hidden" name="_id" value="<%=edit ? edit._id  : null%>">
                 <div class="container-send"> <input class="boton" type="submit" value="Submit" /></div>
            </form>
        </article>
    </main>
    <script>
       console.log("caca") 
        if(edit){
            showSelected(edit.modelOfBike)
        }
        function showSelected(model) {
            let option= document.getElementById(model)
            option.selected=true
        }
    </script>
    <%- include('partials/footer.ejs') %> 
   <!--  <option value="<%= edit ? edit.modelOfBike : null%>"> <%=edit ? edit.modelOfBike : "Select your model"%></option>> -->